.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color:#768cd4; /* Sky blue background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* Restrict maximum width */
    margin: 50px auto; /* Center the container on the page */
    margin-top: 11%;
}

.forgot-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgot-password-form input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't overflow */
}
.forgot-password-form input:focus{
    outline: none;
    border: 1px solid #4CAF50;
    box-shadow: 0 0 4px #4CAF50;
}
.forgot-password-form button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
